.layout{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/ed0b5df9-ba9d-4534-bd09-57993daeda56/5191c514-b13d-4edc-8932-d82813a0601e/EG-en-20220214-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    height: 100vh;
   
  
       h1{
           font-size: 70px;
       }
    .card{
        background-color: rgba(0,0,0,.8);
    }
}