<div class="row mt-4 ">
  <div class="col-6 mt-2 col-md-3 overflow-hidden" >
    <div class="card overflow-hidden shadow" style="width: 18rem;cursor: pointer;">
      <img src="https://image.tmdb.org/t/p/w500/{{movieDetail.poster_path}}" class="card-img-top cardItems h-50"
        *ngIf="movieDetail.id" style="height: 250px;" [routerLink]="['/favourite', movieDetail.id]">
      <hr style="width: 90%;margin: auto;">
      <div class="card-body">
        <h1 class="h-10">{{movieDetail.title}}</h1>
        <h1> Date: {{movieDetail.release_date}}</h1>
        <h2>Votes: {{movieDetail.vote_count}}</h2>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
